{% extends "base.html" %}
{% load bootstrap_tags %}
{% block pageTitle %}Bug Tracker - Reset Password{% endblock%}
{% block content %}
<div class="row">
    <h5 class="center-align">Reset Password</h5>
    <!-- Begin Change Password Form -->
    <form method="POST" class="col s12">
        {% csrf_token %}
        {{ form | as_bootstrap}}
    
        <!-- Begin Change Password Button -->
        <div class="center-align">
            <button class="waves-effect waves-light btn blue" type="submit">Change My Password
            </button>
        </div>
        <!-- End Change Password Button -->
    </form>
    <!-- End Change Password Form -->
</div>
{% endblock %}