{% extends "base.html" %}
{% load bootstrap_tags %}
{% block pageTitle %}Bug Tracker - Reset Password{% endblock%}
{% block content %}
<div class="row">
    <!-- Begin Password Reset Form -->
    <form method="POST" class="col s12">
        <p>Please enter your email address: </p>
        {% csrf_token %}
        {{form.email.errors}}
        <p>
            <label for="id_email">Email address:</label>
            {{form.email}}
        </p>
    
        <!-- Begin Login Button -->
        <div class="center-align">
            <button class="waves-effect waves-light btn blue" id="add_btn" type="submit">Reset
            </button>
        </div>
        <!-- End Login Button -->
    </form>
    <!-- End Password Reset Form -->
</div>
{% endblock %}