{% extends "base.html" %}
{% block pageTitle %}Manage Projects{% endblock%}
{% block content%}
<!-- Begin  Projects List-->
<div class="row">
    {% if projects %}
    <ul class="collapsible proj-collapsible">
        {% for project in projects %}
        <li>
            <div class="collapsible-header">
                <a href="{% url 'delete_project' project.id %}" class="waves-effect waves-light btn btn-small red">Del</a>
                <a href="{% url 'edit_project' project.id %}" class="waves-effect waves-light btn btn-small blue">Edit</a>
                <div class="category-title-header col s9">
                    <strong>{{project.projectName}}</strong>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="center-align">
        <h5>No Projects added yet. Click the button below to add one.</h5>
    </div>
    {% endif %}
</div>
<!-- End  Projects List-->
<!-- Begin Add Project Button-->
<div class="row center-align">
    <a href="{% url 'add_project' %}" class="waves-effect waves-light btn purple">Add New Project
        <i class="material-icons right">playlist_add</i>
    </a>
</div>
<!-- End Add Project Button-->
{% endblock %}