{% extends "base.html" %}
{% load static from staticfiles %}
{% block pageTitle %}All Issues{% endblock%}
{% block content %}
{% if issues %}
<table>
    <thead>
        <tr>
            <th>P</th>
            <th>Id</th>
            <th>Summary</th>
            <th>Reporter</th>
            <th>Status</th>
            <th>Updated</th>
            <th>Affects Version</th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr class="bug-item">
            <td><li class="priority {{issue.issuePriority}}"></li></td>
            <td><a href="{% url 'all_issues' %}view-issue/{{issue.id}}/">{{issue.projectName}}-{{issue.id}}</a></td>
            <td><a href="{% url 'all_issues' %}view-issue/{{issue.id}}/">{{issue.title}}</a></td>
            <td>{{issue.reporter}}</td>
            <td>{{issue.status}}</td>
            <td>{{issue.updatedDate}}</td>
            <td>{{issue.affectsVersion}}</td>
        </tr>
        {% endfor %}
</tbody>
</table>
<!-- Begin Pagination -->
<div class="row" id="pag-container">
    <ul class="pagination">
        <li class="waves-effect" id="pag-left"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect pag-item active"><a>1</a></li>
        <li class="waves-effect" id="pag-right"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
<!-- End Pagination -->
{% else %}
<div class="row center-align">
    <h5>No issues created...</h5>
    <a href="{% url 'create_issue' %}" class="btn blue"><i class="fa fa-plus"></i> Create</a>
</div>
{% endif %}
{% endblock %}
{% block js %}
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}