{% extends "base.html" %}
{% load static from staticfiles %}
{% block pageTitle %}All Issues{% endblock%}
{% block content %}
{% if issues %}
<div class="row" id="search-form">
    <form action="{% url 'search' %}" method="get">
        <div class="input-field col s12">
            <input type="text" name="query" placeholder="Enter Search Query..." required>
            <label>Search Query</label>
        </div>
        <div class="row center-align">
            <button id="search_btn" class="btn waves-effect waves-light blue center-align" type="submit">Search
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Summary</th>
            <th class="hide-on-med-and-down">Updated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr class="bug-item">
            <td><a href="{% url 'all_issues' %}view-issue/{{issue.id}}/">{{issue.issueProjectName}}-{{issue.id}}</a></td>
            <td><a class="bug-title" href="{% url 'all_issues' %}view-issue/{{issue.id}}/">{{issue.title}}</a></td>
            <td class="hide-on-med-and-down">{{issue.updatedDate}}</td>
            <td><a href="{% url 'all_issues' %}view-issue/{{issue.id}}/" class="waves-effect waves-light btn btn-small orange">View</a></td>
        </tr>
        {% endfor %}
</tbody>
</table>
<!-- Begin Add Issue Button -->
<div class="row center-align" id="create-btn">
    <a href="{% url 'create_issue' %}" class="waves-effect waves-light btn green">Create New
        <i class="material-icons right">playlist_add</i>
    </a>
</div>
<!-- End Add Issue Button -->
<!-- Begin Pagination -->
<div class="row" id="pag-container">
    <ul class="pagination">
        <li class="waves-effect" id="pag-left"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect pag-item active"><a>1</a></li>
        <li class="waves-effect" id="pag-right"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
<!-- End Pagination -->
{% else %}
<div class="row center-align">
    <h5>No issues created...</h5>
    <a href="{% url 'create_issue' %}" class="btn blue"><i class="fa fa-plus"></i> Create</a>
</div>
{% endif %}
{% endblock %}
{% block js %}
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}