{% extends "base.html" %}
{% block pageTitle %}View Issue{% endblock%}
{% block content %}

<!-- Begin Bug Title -->
<div>
    <h5>{{issue.title}}</h5>
</div>
<!-- End Bug Title -->
<!-- Begin Bug Information -->
<div class="row">
    <div class="col s6">
        <p><strong>Issue ID:</strong> {{issue.projectName}}-{{issue.id}}</p>
        {% if issue.issueType == "bug" %}
        <p><strong>Type:</strong> <i id="issue_type_icon" class="fa fa-minus-square red-icon prefix"></i> <span id="issueTypeVal">{{issue.issueType}}</span></p>
        {% else %}
        <p><strong>Type:</strong> <i id="issue_type_icon" class="fa prefix fa-plus green-icon"></i> <span id="issueTypeVal">{{issue.issueType}}</span></p>
        {% endif %}
        <p><strong>Priority:</strong> <i id="issuePriorityIcon"></i> <span id="issuePriorityVal">{{issue.issuePriority}}</span></p>
        <p><strong>Affects Version:</strong> {{issue.affectsVersion}}</p>
        <p><strong>Found In Build#:</strong> {{issue.foundInBuild}}</p>
    </div>
    <div class="col s6">
        <p><strong>Status:</strong> {{issue.status}}</p>
        <p><strong>Resolution:</strong> {{issue.resolution}}</p>
        <p><strong>Reported By:</strong> {{issue.reporter}}</p>
        <p><strong>Created Date:</strong> {{issue.createdDate}}</p>
        <p><strong>Last Updated:</strong> {{issue.updatedDate}}</p>
        {% if request.user.is_superuser %}
        <p><strong>Up Votes:</strong> {{issue.votes}}</p>
        {% endif %}
        <p>
            {% if issue.status == "Resolved" %}
            <a data-target="modal3" class="btn orange issue-btn modal-trigger"><i class="fa fa-share"></i> Re-open</a>
            <a data-target="modal2" class="btn red issue-btn modal-trigger"><i class="fa fa-times-circle"></i> Close</a></p>
            {% elif issue.status == "Closed" %}
            <a data-target="modal3" class="btn orange issue-btn modal-trigger"><i class="fa fa-share"></i> Re-open</a>
            {% else %}
                {% if request.user.is_superuser %}
                    <!-- if user is superuser or developer then show a resolve button -->
                    <a data-target="modal1" class="btn green issue-btn modal-trigger"><i class="fa fa-share-square-o"></i> Resolve</a>
                {% else %}
                    {% if issue.issueType == "bug" %}
                        <a data-target="modal4" class="btn green modal-trigger"><i class="fa fa-arrow-up"></i> Up Vote</a>
                    {% else %}
                        <a class="btn green" href="/make-payment/{{issue.id}}/"><i class="fa fa-arrow-up"></i> Up Vote</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            <a href="{% url 'all_issues' %}edit-issue/{{issue.id}}/" class="btn purple issue-btn"><i class="fa fa-pencil"></i> Edit</a>
    </div>
</div>
<!-- End Bug Information -->
<!-- Begin Bug Description -->
<div class="row">
    <p><strong>Description:</strong></p>
    <p>{{issue.description}}</p>
</div>
<!-- End Bug Description -->
<!-- Begin Bug Comments -->
<div class="row">
    <p><strong>Comments:</strong></p>
    {% if comments %}
    {% for comment in comments %}
    <p><i><strong>{{comment.user}}</strong> commented on {{comment.commentDate}}</i></p>
    <p>> {{comment.comment}}</p>
    {% endfor %}
    {% else %}
    <p>No comments added yet...</p>
    {% endif %}
</div>
<!-- End Bug Comments -->
<!-- Begin Comment Form -->
<div class="row">
    <form action="" method="POST" class="col s12">
        {% csrf_token %}
        <!-- Begin Issue Comment Element -->
        <div class="row">
            <div class="input-field col s12">
                {{commentsForm.comment}}
                <label for="comment">Comment</label>
            </div>
            <p id="form-helper1" class="helper-message element-hide">Press 'Enter' to add a new line!</p>
        </div>
        <!-- End Issue Comment Element -->
        <!-- Begin Create Comment Button -->
        <div class="center-align">
            <button class="waves-effect waves-light btn blue" id="add_btn" type="submit"><i class="fa fa-comment"></i> Add Comment
            </button>
        </div>
        <!-- End Create Comment Button -->
    </form>
</div>
<!-- End Comment Form -->
<!-- Begin Issue Resolve Modal -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Resolve Issue:</h5>
        <form action="{% url 'all_issues' %}resolve-issue/{{issue.id}}/" method="POST">
            {% csrf_token %}
            <!-- Begin Resolution Select Element -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="resolution" name="resolution">
                        <option selected>Fixed</option>
                        <option>Won't Fix</option>
                        <option>Need More Info</option>
                    </select>
                    <label>Resolution</label>
                </div>
            </div>
            <!-- End Resolution Select Element -->
            <!-- Begin Issue Comment Element -->
            <div class="row">
                <div class="input-field col s12">
                    {{commentsForm.comment}}
                    <label for="comment">Comment</label>
                </div>
                <p id="form-helper1" class="helper-message element-hide">Press 'Enter' to add a new line!</p>
            </div>
            <!-- End Issue Comment Element -->
            <!-- Begin Form Button -->
            <div class="center-align">
                <button class="waves-effect waves-light btn green" id="resolve_btn" type="submit"><i class="fa fa-share-square-o"></i> Resolve
                </button>
            </div>
            <!-- End Form Button -->
        </form>
    </div>
</div>
<!-- End Issue Resolve Modal -->
<!-- Begin Issue Close Modal -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h5>Close Issue:</h5>
        <form action="{% url 'all_issues' %}close-issue/{{issue.id}}/" method="POST">
            {% csrf_token %}
            <!-- Begin Issue Comment Element -->
            <div class="row">
                <div class="input-field col s12">
                    {{commentsForm.comment}}
                    <label for="comment">Comment</label>
                </div>
            </div>
            <!-- End Issue Comment Element -->
            <!-- Begin Form Button -->
            <div class="center-align">
                <button class="waves-effect waves-light btn red" id="close_btn" type="submit"><i class="fa fa-times-circle"></i> Close
                </button>
            </div>
            <!-- End Form Button -->
        </form>
    </div>
</div>
<!-- End Issue Resolve Modal -->
<!-- Begin Issue Reopen Modal -->
<div id="modal3" class="modal">
    <div class="modal-content">
        <h5>Re-Open Issue:</h5>
        <form action="{% url 'all_issues' %}reopen-issue/{{issue.id}}/" method="POST">
            {% csrf_token %}
            <!-- Begin Issue Comment Element -->
            <div class="row">
                <div class="input-field col s12">
                    {{commentsForm.comment}}
                    <label for="comment">Comment</label>
                </div>
            </div>
            <!-- End Issue Comment Element -->
            <!-- Begin Form Button -->
            <div class="center-align">
                <button class="waves-effect waves-light btn orange" id="close_btn" type="submit"><i class="fa fa-share"></i> Re-Open
                </button>
            </div>
            <!-- End Form Button -->
        </form>
    </div>
</div>
<!-- End Issue Reopen Modal -->
<!-- Begin Issue Upvote Modal -->
<div id="modal4" class="modal">
    <div class="modal-content">
        <h5>Up Vote Issue:</h5>
        <form action="{% url 'all_issues' %}up-vote/{{issue.id}}/" method="POST">
            {% csrf_token %}
            <!-- Begin Issue Comment Element -->
            <div class="row">
                <div class="input-field col s12">
                    {{commentsForm.comment}}
                    <label for="comment">Comment</label>
                </div>
            </div>
            <!-- End Issue Comment Element -->
            <!-- Begin Form Button -->
            <div class="center-align">
                <button class="waves-effect waves-light btn green" id="upvote_btn" type="submit"><i class="fa fa-arrow-up"></i> Up Vote
                </button>
            </div>
            <!-- End Form Button -->
        </form>
    </div>
</div>
<!-- End Issue Upvote Modal -->
{% endblock %}