{% extends "base.html" %}
{% load bootstrap_tags %}
{% block pageTitle %}Create New Issue{% endblock %}
{% block content %}
<div class="row">
    <h3 class="center-align">Open New Issue</h3>
</div>
<div class="row">
    <!-- Begin Form -->
    <form action="" method="POST" class="col s12">
        {% csrf_token %}
        <!-- Begin Project Select Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">apps</i>
                <select id="projectName" name="projectName">
                    <option selected>Project A</option>
                    <option>Project B</option>
                    <option>Project C</option>
                </select>
                <label>Project</label>
            </div>
        </div>
        <!-- End Project Select Element -->
        <!-- Begin Issue Type Select Element -->
        <div class="row">
            <div class="input-field col s12">
                <i id="issue_type_icon" class="fa fa-minus-square red-icon prefix"></i>
                <select id="issueType" name="issueType">
                    <option value="bug" selected>Bug</option>
                    <option value="feature_request">Feature Request</option>
                </select>
                <label>Issue Type</label>
            </div>
        </div>
        <!-- End Issue Type Select Element -->
        <!-- Begin Issue Priority Select Element -->
        <div class="row">
            <div class="input-field col s12">
                <i id="issue_priority_icon" class="fa fa-minus-circle red-icon prefix"></i>
                <select id="issuePriority" name="issuePriority">
                    <option value="triage_required" selected>Triage Required</option>
                    <option value="severe">Severe</option>
                    <option value="must_fix">Must Fix</option>
                    <option value="desirable">Desirable To Fix</option>
                    <option value="unlikely">Unlikely To Fix</option>
                </select>
                <label>Priority</label>
            </div>
        </div>
        <!-- End Issue Priority Select Element -->
        <!-- Begin Issue Title Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">title</i>
                <input id="title" type="text" name="title" class="validate" required>
                <label for="title">Title</label>
            </div>
        </div>
        <!-- End Issue Title Element -->
        <!-- Begin Affects Version Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-sort-numeric-asc prefix"></i>
                <input id="affectsVersion" type="text" name="affectsVersion" class="validate" required>
                <label for="affectsVersion">Affects Version</label>
            </div>
        </div>
        <!-- End Affects Version Element -->
        <!-- Begin Found In Build Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-slack prefix"></i>
                <input id="foundInBuild" type="text" name="foundInBuild" class="validate" required>
                <label for="foundInBuild">Found In Build#</label>
            </div>
        </div>
        <!-- End Found In Build Element -->
        <!-- Begin Issue Description Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_numbered</i>
                <textarea name="description" id="description" class="materialize-textarea" required></textarea>
                <label for="description">Description</label>
            </div>
            <p id="form-helper1" class="helper-message element-hide">Press 'Enter' to add a new line!</p>
        </div>
        <!-- End Issue Description Element -->
        <!-- Begin Create Issue Button -->
        <div class="center-align">
            <button class="waves-effect waves-light btn blue" id="add_btn" type="submit">Create
            </button>
        </div>
        <!-- End Create Issue Button -->
        <!-- {{issueForm | as_bootstrap }} -->
    </form>
    <!-- End Form -->
</div>
{% endblock %}