{% extends "base.html" %}
<!-- {% load bootstrap_tags %} -->
{% block pageTitle %}Edit Issue{% endblock %}
{% block content %}
<div class="row">
    <h3 class="center-align">Edit Issue</h3>
</div>
<div class="row">
    <!-- Begin Form -->
    <form method="POST" class="col s12">
        {% csrf_token %}
        <!-- Begin Project Select Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">apps</i>
                <select id="issueProjectName" name="issueProjectName" data-value="{{issue.issueProjectName}}">
                    <option disabled>Choose A Project:</option>
                    {% for project in projects %}
                        {% if project.projectName == issue.issueProjectName %}
                        <option value="{{project.projectName}}" selected>{{project.projectName}}</option>
                        {% else %}
                        <option value="{{project.projectName}}">{{project.projectName}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Project</label>
            </div>
        </div>
        <!-- End Project Select Element -->
        <!-- Begin Issue Type Select Element -->
        <div class="row">
            <div class="input-field col s12">
                <i id="issue_type_icon" class="fa fa-minus-square red-icon prefix"></i>
                <select id="issueType" name="issueType" data-value="{{issue.issueType}}">
                    <option value="bug" selected>Bug</option>
                    <option value="feature_request">Feature Request</option>
                </select>
                <label>Issue Type</label>
            </div>
        </div>
        <!-- End Issue Type Select Element -->
        <!-- Begin Issue Title Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">title</i>
                <input id="title" type="text" name="title" class="validate" value="{{issue.title}}" required>
                <label for="title">Title</label>
            </div>
        </div>
        <!-- End Issue Title Element -->
        <!-- Begin Affects Version Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-sort-numeric-asc prefix"></i>
                <input id="affectsVersion" type="text" name="affectsVersion" class="validate" value="{{issue.affectsVersion}}" required>
                <label for="affectsVersion">Affects Version</label>
            </div>
        </div>
        <!-- End Affects Version Element -->
        <!-- Begin Found In Build Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-slack prefix"></i>
                <input id="foundInBuild" type="text" name="foundInBuild" class="validate" value="{{issue.foundInBuild}}" required>
                <label for="foundInBuild">Found In Build#</label>
            </div>
        </div>
        <!-- End Found In Build Element -->
        <!-- Begin Issue Description Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_numbered</i>
                <textarea name="description" id="description" class="materialize-textarea" required>{{issue.description}}</textarea>
                <label for="description">Description</label>
            </div>
            <p id="form-helper1" class="helper-message element-hide">Press 'Enter' to add a new line!</p>
        </div>
        <!-- End Issue Description Element -->
        <!-- Begin Create Issue Button -->
        <div class="center-align">
            <button class="waves-effect waves-light btn blue" id="add_btn" type="submit">Update
            </button>
        </div>
        <!-- End Create Issue Button -->
    </form>
    <!-- End Form -->
</div>
{% endblock %}