{% extends "base.html" %}
{% block pageTitle %}Bug Tracker - Sign In{% endblock%}
{% block content %}
<div class="row">
    <h3 class="center-align">Login</h3>
</div>
<div class="row">
    <!-- Begin Form -->
    <form method="POST" class="col s12">
        {% csrf_token %}
        <!-- Begin Username Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                {{loginForm.username}}
                <label for="username">Username</label>
            </div>
        </div>
        <!-- End Username Element -->
        <!-- Begin Password Element -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-key prefix"></i>
                {{loginForm.password}}
                <label for="password">Password</label>
            </div>
        </div>
        <!-- End Password Element -->
        <!-- Begin Login Button -->
        <div class="center-align">
            <button class="waves-effect waves-light btn blue" id="add_btn" type="submit">Sign In
            </button>
        </div>
        <!-- End Login Button -->
        <div>
            <p>Need an account? <a href="{% url 'registration' %}">Click here to Register</a></p>
            <p>Reset Password? <a href="{% url 'password_reset' %}">Click here</a></p>
        </div>
    </form>
    <!-- End Form -->
</div>
{% endblock %}