{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{% endblock%}</title>
    <!-- Load Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Load Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Load FontAwesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <!-- Load Our CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block headContent %}
    {% endblock headContent %}
</head>
<body>
    <!-- Begin Navigation -->
    <header>
        <nav>
            <div class="nav-wrapper green">
                {% if user.is_authenticated %}
                <a href="{% url 'all_issues' %}" class="brand-logo">Bug Tracker</a>
                {% else %}
                <a href="{% url 'login' %}" class="brand-logo">Bug Tracker</a>
                {% endif %}
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'create_issue' %}">Create New</a></li>
                    <li><a href="{% url 'all_issues' %}">Home</a></li>
                    <li><a href="{% url 'analytics' %}">Analytics</a></li>
                    <li><a href="{% url 'logout' %}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            {% if user.is_authenticated %}
            <li><a href="{% url 'create_issue' %}">Create New</a></li>
            <li><a href="{% url 'all_issues' %}">Home</a></li>
            <li><a href="{% url 'analytics' %}">Analytics</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'login'%}">Sign In</a></li>
            {% endif %}
        </ul>
    </header>
    <!-- End Navigation -->
    {% if messages %}
    <!-- Begin Messages -->
    <div class="container">
        <div class="row">
        {% for message in messages %}
            <p id="{{ message.tags }}-message" class="msg msg-{{ message.tags }} z-depth-3 col-s12">{{message}}</p>         
        {% endfor %}
        </div>
    </div>
    <!-- End Messages -->
    {% endif %}
    <!-- Begin Page Specific Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- End Page Specific Content -->
    <!-- Begin Footer -->
    <footer class="container-fluid">
        <div id="footer-details" class="row">
            <div class="col s12 m12 l8 footer-custom-align">
                <h5>Bug Tracker &copy; 2019</h5>
                <p id="footer-text">Tracking your Software since 2016!</p>
            </div>
            <div class="col s12 m12 l4">
                <h5 class="footer-custom-align">Socials</h5>
                <ul class="list-inline social-links footer-custom-align">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Load JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <!-- Load Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- JS for Navigation -->
    <script>
        $(function(){
            //Nav slide menu for small screen devices
            $('.sidenav').sidenav();
        });
    </script>
    <!-- Load Our JS -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>